---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #F5F5F5;
$iron: #333333;
$cloudy: #828282;

body{
  font-family: "ThiccboiBold", sans-serif;
}

.profile-picture{
  width: 10rem;
  margin-top:0 !important;

  @media (min-width: 600px) {
    margin-left: 0 !important;
    margin-top:0 !important;

    width: 12rem;

  }
}

@import
    "mixins",
    "default",
    "404"
;

@font-face {
  font-family: 'Thiccboi';
  src: url('../fonts/fonts/Webfont/THICCCBOI-Regular.woff2');
  src: url('../fonts/fonts/Webfont/THICCCBOI-Regular.woff2?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/TTF/THICCCBOI-Regular.ttf') format('truetype'),
  url('../fonts/fonts/Webfont/THICCCBOI-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Thiccboii';
  src: url('../fonts/fonts/Webfont/THICCCBOI-Regular.woff2');
  src: url('../fonts/fonts/Webfont/THICCCBOI-Regular.woff2?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/TTF/THICCCBOI-Regular.ttf') format('truetype'),
  url('../fonts/fonts/Webfont/THICCCBOI-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ThiccboiLight';
  src: url('../fonts/fonts/Webfont/THICCCBOI-Light.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ThiccboiBold';
  src: url('../fonts/fonts/Webfont/THICCCBOI-Bold.woff2');
  font-weight: normal;
  font-style: normal;
}