---
import { routePath } from '~/i18n'

const target = routePath('en', { type: 'home' })
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0;url=${target}`} />
    <link rel="canonical" href={target} />
    <title>Redirecting...</title>
  </head>
  <body>
    <a href={target}>Continue to English</a>
  </body>
</html>
