---
import type { CollectionEntry } from 'astro:content'
import { dateString } from '~/utils'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props
const articleLink = `/posts/${post.id}`
---

<article class="w-full py-2 border-b border-accent/10">
  <div class="flex justify-between items-center gap-4">
    <h3 class="text-base font-normal flex-1">
      <a href={articleLink} class="hover:text-accent transition-colors">
        {post.data.title}
      </a>
    </h3>
    <time class="text-sm text-foreground/60 shrink-0">
      {dateString(post.data.published)}
    </time>
  </div>
</article>